/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/*Our style*/

.wrapper {
	max-width: 1920px;
	margin: 0 auto;
	width: 100%;
	font-family: 'Proxima Nova Regular';

}
.center {
	max-width: 1550px;
	margin: 0 auto;
	width: 90%;
	position: relative;

}
header {
	height: 100vh;
	width: 100%;
	background-image: url(./images/football.png);
	background-size: cover;
	max-height: 960px;
}
header .logo {
	margin-top: 55px;
}

header .right_text {
	color: #ffffff;
	font-size: 14px;
	font-family: 'Proxima Nova Light';
	text-transform: uppercase;
	float: right;
	margin-top: 65px;
}
header h1 {
	font-size: 90px;
	font-family: 'Proxima Nova Bold';
	color: #ffffff;
	margin-top: 25vh;
	z-index: 5;
	position: relative;
}
header h4 {
	font-size: 90px;;
	font-family: 'Proxima Nova Bold';
	color: #ffffff;
	z-index: 1;
	position: relative;
	float: right;
}
 



header .menu {
	clear: both;
	float: right;
}

.line {
	width: 400px;
	height: 5px;
	background-color: #5e42b0;
	border-radius: 3px;
	position: absolute;
	transform: rotate(-45deg);
	top: 345px;
	left: 200px;
	z-index: 3;
}

header .menu li {
	display: inline-block;
}

header .menu li a {
	text-decoration: none;
	color: #9071e9;
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
	padding: 0 25px;
}
header .buttons, footer .buttons {
	clear: both;
	text-align: center;
	margin-top: 30vh;
}

header .buttons a, footer .buttons a {
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	width: 180px;
	font-weight: 300;
	font-family: 'Proxima Nova light';
	padding: 5px 65px 20px 45px;
	background-color: #5e42b0;
	border-radius: 40px;
}

header .buttons a i, footer .buttons a i {
	font-size: 37px;
	margin-right: 20px;
	position: relative;
	top: 15px;
}

header .buttons a span, footer .buttons a span {
	margin-left: 52px;
	font-family: 'Proxima Nova Semibold';
}

header .buttons a:first-child{
	margin-right: 50px;
}

header .buttons a:hover, footer .buttons a:hover {
	color: #5e42b0;
	background-color: #ffffff;
} 

header .menu li a:hover {
	color: #ffffff;
}

.atlet {
	width: 100%;
	max-height: 730px;
	position: relative;
}
.atlet .runner {
	display: block;
	float: left;
	width: 50%;
	height: 100vh;
	max-height: 730px;
	background-image: url(./images/atlet.png);
	background-size: cover;
	background-position: right;
	max-height: 730px;
	
}
.fon {
	display: block;
	float: left;
	width: 50%;
	height: 100vh;
	max-height: 730px;
}

.text_atlet {
	margin-left: 130px;
	margin-top: 260px;
	width: 70%;
	max-width: 50%;

}

.text_atlet h2 {
	font-family: 'Proxima Nova Bold';
	text-transform: uppercase;
	font-size: 60px;
	color: #e6e6e6;
	margin-bottom: 120px;
}

.text_atlet p {
	font-family: 'Proxima Nova Regular';
	font-size: 14px;
	margin-bottom: 90px;
}
.tire {
	width: 22px;
	height: 5px;
	background-color: #5e42b0;
	border-radius: 3px;
	
}
.square {
	clear: both;
	width: 170px;
	height: 155px;
	background-color: #5e42b0;
	text-align: center;
	position: absolute;
	top: 215px;
	left: 0;
	right: 0;
	margin: auto;
}
.square h3 {
	color: #f5f6f7;
	font-size: 24px;
	font-family: 'Proxima Nova Bold';
	margin: 63px 0 10px 0;
}
.square .tire {
	background-color: #8f7bc8;
	margin: 0 auto;
}
.op {
	clear: both;
}
.comment {
		width: 100%;
		max-height: 730px;
		position: relative;
}
.negr {
		display: block;
		float: left;
		width: 50%;
		height: 100vh;
		max-height: 730px;
		background-image: url(./images/negr.png);
		background-size: cover;
		background-position: center;
		max-height: 730px;
}


.team {
	width: 100%;
	max-height: 730px;
	position: relative;
}
.team .girl {
	display: block;
	float: left;
	width: 50%;
	height: 100vh;
	max-height: 730px;
	background-image: url(./images/team.png);
	background-size: cover;
	background-position: right;
	max-height: 730px;
	
}
footer {
		height: 100vh;
		width: 100%;
		background-image: url(./images/footer_new.png);
		background-size: cover;
		max-height: 960px;
		position: relative;
		text-align: center;
	
}
.niz {
	width: 100%;
	background-image: url(./images/niz.png);
	vertical-align: middle;
	height: 110px;
	position: absolute;
	bottom: 0;
	text-align: center;
	
}
footer .logo {
	margin-top: 40px;
	margin-left: 0px;
	display: inline-block;
	float: left;
	
}

footer .niz i {
	color: #ffffff;
	font-size: 28px;
	
	
}

footer .niz a {
	margin: 41px 15px 0 15px;
	display: inline-block;
}
footer .niz p {
	font-family: 'Proxima Nova Regular';
	font-size: 20px;
	color: #ffffff;
	display: inline-block;
	float: right;
	margin-top: 45px;
}
.pod {
	width: 100%;
	margin-top: 130px;
	display: inline-block;
	position: relative;
}

footer .logo1 {
	width: 135px;
	height: 135px;
	display: inline-block;
	margin-right: 35px;
}

footer .pod p {
	display: inline-block;
	font-family: 'Proxima Nova Bold';
	font-size: 90px;
	color: #ffffff;
	margin: 0;
	line-height: 45px;
	text-transform: uppercase;
	position: relative;
	top: -10px;
	text-align: left;
	z-index: 10;

	
}
footer .pod p span {
	font-size: 36px;
	color: #a496ca;
	margin: 0;
	
}

footer .buttons {
	margin-top: 16vh;
	
}
footer .buttons a:first-child{
	margin-right: 50px;
}

footer li {
	display: inline-block;
}

footer li:first-child {
	margin-left: 10%;
}
.line1 {
	width: 350px;
	height: 5px;
	background-color: #5e42b0;
	border-radius: 3px;
	position: absolute;
	transform: rotate(-45deg);
	top: 50px;
	left: 50%;
	z-index: 3;
}
.line2 {
	width: 250px;
	height: 5px;
	background-color: #5e42b0;
	border-radius: 3px;
	position: absolute;
	transform: rotate(-45deg);
	top: 40px;
	left: 28%;
	z-index: 3;

}

.container2 .block1 h2, .container3 .block1 h2 {
	color: #e7e7e7;
	font-family: 'Proxima Nova Bold';
	text-transform: uppercase;
	margin-top: 114px;
	margin-bottom: 56px;
	font-size: 90px;
}

.container2 img {
	float: left;
	margin-left: 9%;
	margin-top: -70px;
	max-width: 55%;
	max-height: 1060px;
}
.container2 .text_center, .container3 .text_center {
	color: #c1c1c1;
	font-family: 'Proxima Nova Bold';
	text-transform: uppercase;
	font-size: 36px;
	margin-bottom: 30px;
}
.container2 .text_center span, .container3 .text_center span {
	font-size: 18px;
	border-bottom: 5px solid #5e42b0;
	color: #000000;
	position: relative;
	top: -10px;
}
.container2 .text_bottom, .container3 .text_bottom  {
	font-size: 20px;
	color: black;
	padding-bottom: 60px;
}

.container2 .block3 .text_center span {
	font-size: 18px;
	border-bottom: 5px solid #efefef;
	color: #000000;
	position: relative;
	top: -10px;
}
.container2 .block3 .text_bottom, .container3 .block3 .text_bottom {
	font-size: 20px;
	color: #ffffff;
	padding-bottom: 60px;
}

.container2 .block2 {
	background-color: #f6f4fa;
}
.container2 .block3 {
	background-color: #5e42b0;
}
.container3 .block3 .text_center span {
	font-size: 18px;
	border-bottom: 5px solid #ffffff;;
	color: #9173e6;
	position: relative;
	top: -10px;
}

.container3 {
	position: relative;
}

.pl {
	position: absolute;
	top: -140px;
	right: 3%;
	max-width: 90%;
}

.container2 .block2 .text_center, .container2 .block3 .text_center, 
.container3 .block2 .text_center, .container3 .block3 .text_center {
	padding-top: 65px;
}

.container3 .block1 p, .container3 .block2 p, .container3 .block3 p {
	max-width: 50%;
}

.container3 .block3 {
	background-color: #0a0e34;
}

@media(max-width:2560px){
	.line {
		top: 445px;
		left: 350px;
	}
	
	
}

@media(max-width:1550px){
	.container2 img {
		margin-left: 0;
	}
	.line {
		top: 345px;
		left: 200px;
	}

	

}
@media(max-width:1250px) {
	header h1, header h4{ 
		font-size: 70px;
	}
	.container2 img {
		width: 50%;
	}
	.line {
		top: 375px;
		left: 200px;
	}
}
@media(max-width:1024px) {
	header h1, header h4, .container2 .block1 h2,  .container3 .block1 h2 {
		font-size: 56px;
	}
	header .menu li a {
		padding: 0 10px;
	}
	footer .logo1 {
		width: 100px;
		height: 100px;
		}
		footer .pod p {
			font-size: 60px;
		}
		.text_atlet h2 {
			font-size: 40px;
		}
}
@media(min-height: 960px) {
	header h1 {
	margin-top: 305px;
}

header .buttons, footer .buttons {
	margin-top: 220px;
}

}

@media(max-width:810px){
	header h1, header h4, .container2 .block1 h2, .container3 .block1 h2 {
		font-size: 44px;
	}
	
	header .menu li a {
		padding: 0 5px;
	}
	header .buttons a, footer .buttons a {
		display: block;
		margin: 0 auto;
	}
	header .buttons a:first-child, footer .buttons a:first-child {
		display: block;
		margin-right: auto;
		margin-bottom: 20px;
	}
	.line, .line1, .line2 {
		display: none;
	}
	footer .buttons {
		margin-top: 50px;
	}
	
	footer .logo1 {
		display: block;
		margin: 0 auto 50px auto;

	}
	
	footer .pod p {
		padding: 0 10px;
		text-align: center;
	}
	.text_atlet {
		margin-left: 40px;
	}
	.text_atlet p {
		font-family: 'Proxima Nova Regular';
		font-size: 14px;
		margin-bottom: 20px;
	}
	.text_atlet h2 {
		font-size: 30px;
	}

	footer .niz {
		display: none;
	}

	.atlet .runner, .fon, .negr, .team .girl {
		max-height: 300px;
	}
	.square {
		top: 50px;
		width: 50px;
		height: 50px;
	}
	.square h3 {
		color: #f5f6f7;
		font-size: 24px;
		font-family: 'Proxima Nova Bold';
		margin: 5px 0 10px 0;
	}
	.text_atlet {
		margin-top: 20px;
	}
	.text_atlet h2 {
		margin-bottom: 40px;
	}
}
@media(max-width:576px){
	header h1, header h4, .container2 .block1 h2,  .container3 .block1 h2 {
		font-size: 33px;
	}
	.container2 img {
		margin-left: auto;
		margin-right: auto;
		float: none;
		display: block;
		margin-top: 10px;
		position: absolute;
		top: -100px;
		left: 20%;
	}
	.atlet .runner {
		background-position-x: 55%;
	}
	.negr {
		background-position-x: 40%;
	}
}
@media(max-width:425px){
	header h4 {
	float: none;
	}
	header .logo {
		width: 35%;
		margin-top: 25px;
	}
	header .right_text {
		margin-top: 35px;
		font-size: 12px;
		
	}
	header h1 {
		margin-top: 15vh;
	}
	header .buttons {
		margin-top: 20vh;
	}
	header {
		background-position-x: 45%;
	}
	.pod {
		width: 100%;
		margin-top: 50px;
	}

	.ser {
		margin-left: 10%;
	}
	.square {
		top: 100px;
	}
}
@media(max-width:370px) {
	footer .pod p {
		font-size: 40px;
	}
	footer .pod p span {
		font-size: 28px;
		color: #b9b8be;
		margin: 0;
	}
	.container2 .text_center, .container3 .text_center {
		color: #c1c1c1;
		font-family: 'Proxima Nova Bold';
		text-transform: uppercase;
		font-size: 28px;
		margin-bottom: 30px;
	}
	header h1, header h4 {
		font-size: 36px;
	}
	footer .logo1 {
		width: 70px;
		height: 70px;
		margin: 0 auto 20px auto
	}
}